{% extends 'base.html.twig' %}

{% block title %}Kodkvalitet och Clean Code{% endblock %}

{% block body %}
    <h1>Kodkvalitet och Clean Code</h1>

    <p>
        Här dokumenterar jag min analys av kodkvaliteten i projektet.
    </p>

{% endblock %}
