{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block body %}
<h1>Kortlek</h1>

<p>Här är alla kort i kortleken:</p>

<div class="cards">
    {% for card in cards %}
        <span class="card">{{ card.getAsString() }}</span>
    {% endfor %}
</div>
{% endblock %}
