{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block body %}
<h1>Hela kortleken</h1>

<p>H채r 채r alla kort, sorterade efter f채rg och v채rde.</p>

<ul>
{% for card in cards %}
    <li>{{ card }}</li>
{% endfor %}
</ul>

<p><a href="{{ path('card_index') }}">Tillbaka</a></p>
{% endblock %}
