{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block body %}
<h1>Kortspel</h1>

<p>Detta är landningssidan för kortspelet.</p>
<p><a href="{{ path('card_session') }}">Visa sessionsdata</a></p>
<p><a href="{{ path('card_deck_shuffle') }}">Blanda kortleken</a></p>
{% endblock %}
