{% extends "base.html.twig" %}

{% block title %}Session Debug{% endblock %}

{% block main %}
<h1>Session Debug</h1>

{{ include('flash.html.twig') }}

{% if session is not empty %}
    <pre>{{ dump(session) }}</pre>
{% else %}
    <p>No data in session.</p>
{% endif %}

<p><a href="{{ path('card_session_delete') }}">Rensa sessionen</a></p>
{% endblock %}
