{% extends "base.html.twig" %}

{% block title %}Session Debug{% endblock %}

{% block body %}
<h1>Session Debug</h1>

{{ include('flash.html.twig') }}

{% if session is not empty %}
    <pre>{{ dump(session) }}</pre>
{% else %}
    <p>No data in session.</p>
{% endif %}

{% if cards is not empty %}
    <h2>Kortlek</h2>
    <p>
        {% for card in cards %}
            {{ card|raw }}
        {% endfor %}
    </p>
{% endif %}

<p><a href="{{ path('card_session_delete') }}">Rensa sessionen</a></p>
{% endblock %}
