{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Here is your lucky number for today!{% endblock %}

{% block body %}
    <h1>Here is your lucky number for today!</h1>
    <p class="lucky-number">{{ number }}</p>
{% endblock %}
