{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <p>Det här är min redovisningssida.</p>

    <div class="two-col-layout">
        <main class="main_about">

            <aside class="aside">
                <ul class="contents_report">
                    <li><a href="#kmom01">kmom01</a></li>
                    <li><a href="#kmom02">kmom02</a></li>
                    <li><a href="#kmom03">kmom03</a></li>
                    <li><a href="#kmom04">kmom04</a></li>
                    <li><a href="#kmom05">kmom05</a></li>
                    <li><a href="#kmom06">kmom06</a></li>
                    <li><a href="#kmom10">kmom10</a></li>
                </ul>
            </aside>

            <div class="content-container">
                <div class="text-content">
                    <h1>Redovisning</h1>

                        <h2 id="kmom01">kmom01</h2>

                        <ul>
                            <li>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</li>
                            <p>Innan jag påbörjade utbildningen på BTH (jag går första året webbprogrammering) så hade jag ingen erfarenhet av objektorientering. Däremot så har jag byggt på mina kunskaper under utbildningens gång, bl.a. genom kursen som handlar om objektorientering i Python.</p>

                            <br>

                            <li>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</li>
                            <p>En klass är som en mall som kan återanvändas för att skapa flera instanser av samma typ av sak. Ett objekt är i sin tur en faktisk instans av klassen. Med hjälp av $this kan man komma åt objektets egna variabler och metoder. Det är också bra att förstå public och private metoder, för det styr åtkomsten.</p>

                            <br>

                            <li>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</li>
                            <p>Till en början så kändes det ganska omfattande, och det var lite svårt att få grepp om hur allt hängde ihop. Men efter att ha följt artiklarna noga och testat lite själv utifrån dem så föll en pusselbit i taget på plats. Jag förstår fördelen med att ha det så här modulärt där vi delat upp controllers, templates och assets och annat tydligt. Det gör det enklare att sen bygga på och ändra.</p>

                            <br>

                            <li>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</li>
                            <p>Jag tycker avsnittet om enhetstestning var intressant. Artikeln nämner verktyg som PHPUnit och varför det är bra att köra tester kontinuerligt. Jag har i tidigare kurser fått testa på och skriva och använda tester. Men jag förstår här dels vikten av det, men även att PHP har flera olika verktyg för testning. Det ska bli intressant och se om vi dyker djupare ner i detta senare i kursen.</p>
                            <p>Det stod också tydligt beskrivet gällande det här med namespaces. Det var intressant att se hur detaljerad nivån av tipsen i de olika standarderna faktiskt är.</p>
                            <br>

                            <li>Vilken är din TIL för detta kmom?</li>
                            <p>Det får nog bli att inte döpa en commit till något som indikerar att ett kmom är färdigt. Så fort jag gjorde det så insåg jag att jag inte alls var färdig, så det var ju lite dumt. Men sen vill jag tillägga att jag också verkligen gillade bilden som fanns bifogad i övningsartikeln. Det beskrev på ett väldigt pedagogiskt sätt M:et, V:et och C:et i MVC hör ihop!</p>
                        </ul>

                        <br>

                        <h2 id="kmom02">kmom02</h2>
                        <h2 id="kmom03">kmom03</h2>
                        <h2 id="kmom04">kmom04</h2>
                        <h2 id="kmom05">kmom05</h2>
                        <h2 id="kmom06">kmom06</h2>
                        <h2 id="kmom10">kmom10</h2>
                </div>
            </div>

        </main>
    </div>

{% endblock %}
