{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<h1>Välkommen till biblioteket!</h1>
<p><a href="{{ path('library_show_all') }}"><button>Visa alla böcker som finns i biblioteket</button></a></p>
<p><a href="{{ path('library_create') }}"><button>Lägg till en ny bok</button></a></p>
{% endblock %}
